@using iSISDemo.Models;
@using iSISDemo.Classes;

<div class="headerTop">
    @*
    <div class="templateTitle">
        @Html.ActionLink("Project Title", "Index", "Home")
    </div>
    <div class="loginControl">
        @Html.Partial("LogOnPartialView")
    </div>
    *@
    <div class="templateTitle">
        @{
            string schoolName = "";
            iSISModel.School school = (iSISModel.School)SessionManager.GetSession(HttpContext.Current, SessionManager.SessionName.CurrentSchool);
            if (school != null)
            {
                schoolName = school.CurrentName.Title.GetValue(CookieManager.GetCookie(HttpContext.Current, CookieManager.CookieName.CurrentLanguage));
                if (schoolName.Equals(""))
                {
                    schoolName = "[School]";
                }
            }
            else
            {
                schoolName = ModelsRepository.GetLabel("TSIS");
            }
        }
        @Html.ActionLink(schoolName, "Index", "Default", new { area = "" }, null)
    </div>
    @*
    <div class="loginControl">
        @using (Html.BeginForm("ChangeTheme", "Default", new { area = "" }, FormMethod.Post, new { name = "frmTheme", id = "frmTheme" }))
        {
            @Html.Partial("ThemeSelector")
            @Html.Hidden("CurrentArea", ViewContext.RouteData.DataTokens["area"])
            @Html.Hidden("CurrentController", ViewContext.RouteData.Values["controller"])
            @Html.Hidden("CurrentAction", ViewContext.RouteData.Values["action"])
            @Html.Hidden("CurrentURL", Request.Url.AbsoluteUri);
        }
    </div>
    *@
    <div class="loginControl">
        @using (Html.BeginForm("ChangeLanguage", "Default", new { area = "" }, FormMethod.Post, new { name = "frmLang", id = "frmLang" }))
        {
            @Html.Partial("LanguageSelector")
            @Html.Hidden("CurrentArea", ViewContext.RouteData.DataTokens["area"])
            @Html.Hidden("CurrentController", ViewContext.RouteData.Values["controller"])
            @Html.Hidden("CurrentAction", ViewContext.RouteData.Values["action"])
            @Html.Hidden("CurrentURL", Request.Url.AbsoluteUri);
        }
    </div>
    @{
        iSISModel.User user = (iSISModel.User)SessionManager.GetSession(HttpContext.Current, SessionManager.SessionName.CurrentUser);
        if (user != null)
        {
            <div class="loginControl">
                @Html.ActionLink(ModelsRepository.GetLabel("Logout"), "Logout", new { area = "", Controller = "User" })
            </div>
            <div class="loginControl">
                @user.Person.CurrentName.ToString(CookieManager.GetCookie(HttpContext.Current, CookieManager.CookieName.CurrentLanguage))&nbsp;
                @{
            iSISModel.Role role = (iSISModel.Role)SessionManager.GetSession(HttpContext.Current, SessionManager.SessionName.CurrentRole);
                    if (role != null)
                    {
                        <span>(@role.Title.GetValue(CookieManager.GetCookie(HttpContext.Current, CookieManager.CookieName.CurrentLanguage)))</span>
                    }
                }
            </div>
        }
    }
</div>
<script>
    function MenuItemClick(s, e) {
        $("#moduleID").val(e.item.name);
        $('#frmModule').submit();
    }
</script>
<div class="headerMenu">
    @* DXCOMMENT: Configure the header menu *@
    @*
    @Html.DevExpress().Menu(settings => {
        settings.Name = "HeaderMenu";
        settings.ItemAutoWidth = false;
        settings.Width = System.Web.UI.WebControls.Unit.Percentage(100);
        settings.Styles.Style.Border.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(0);
        settings.Styles.Style.BorderTop.BorderWidth = System.Web.UI.WebControls.Unit.Pixel(1);
    }).BindToXML(HttpContext.Current.Server.MapPath("~/App_Data/TopMenu.xml"), "/items/*").GetHtml()
*@
    @using (Html.BeginForm("ChangeModule", "Default", new { area = "" }, FormMethod.Post, new { name = "frmModule", id = "frmModule" }))
    {
        @Html.Hidden("moduleID")
    }
    @Html.DevExpress().Menu(Application.GetSetting()).GetHtml()
</div>